<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AHEAD</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='index.css') }}'>
</head>
<body>
<h1 class="title">ASIAN COALITION OF HEALTH ECONOMISTS, ACCESS AND DATA SCIENTISTS</h1>
<h2 class="subtitle"> A Massachusetts Nonprofit Public Benefit Corporation</h2>
<div class="navbar">
    <a href="/home">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">ABOUT</button>
        <div class="dropdown-content">
            <a href="/mission-statement">Mission Statement</a>
            <a href="/bylaws">Bylaws</a>
            <a href="/board">Board</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">NEWS</button>
        <div class="dropdown-content">
            <a href="/announcements">Announcements</a>
            <a href="/Lorem Ipsum">Lorem Ipsum</a>
            <a href="/Lorem Ipsum">Lorem Ipsum</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">EVENTS</button>
        <div class="dropdown-content">
            <a href="/conferences">Conferences</a>
            <a href="/Lorem Ipsum">Lorem Ipsum</a>
            <a href="/Lorem Ipsum">Lorem Ipsum</a>
        </div>
    </div>
    <a href="/donate">SUPPORT US</a>
    <div class="dropdown">
        <button class="dropbtn">CONTACT</button>
        <div class="dropdown-content">
            <a href="/contact-info">Contact Information</a>
            <a href="/social-media">Social Media</a>
        </div>
    </div>
</div>
</body>
</html>